.rowan-main {
    background-color: #fff;
}

.rowan-header {
    background-color: #6ecb32;
}

.rowan-header {
    padding: 12px;
    padding-left: 8px;
    padding-bottom: 0;
}

.rowan-content, .rowan-tree, .rowan-tree-title, .rowan-sub-main {
    padding: 6px;
}

.rowan-sub-main {
    background-color: rgb(56, 155, 47);
}

.rowan-sub-main, .rowan-sub-main a {
    color: #ffffff;
}

.rowan-tree-title {
    background-color: #5381ff;
}

.rowan-content, .rowan-tree {
    background-color: #ffffff;
    border-bottom: 6px solid #5381ff;
}

.rowan-common-name-form {
    padding: 6px;
}

.rowan-common-name-form input, .rowan-common-name-form select {
    border:1px solid #b2b2b2;
}

.h5 a {
    color: #ffffff;
}

.rowan-common-name-row:hover {
    background-color: #cbffd5;
}

.rowan-common-name-cell-left, .rowan-common-name-cell-right {
    vertical-align: top;
    border-bottom: 1px solid #bfc1cc;
    padding: 2px;
}

.rowan-common-name-cell-left {
    padding-right: 8px;
    width: 60%;
}

.rowan-common-name-row:last-child > td {
  border-bottom: 0;
}
